<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-brand">
            <h1>Music Library</h1>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card frosted-glass" id="form">
				<div class="row g-0">
					<div class="d-flex align-items-center">
						<div class="card-body text-white">

							<form [formGroup]="loginForm">

								<div class="d-flex align-items-center mb-3 pb-1">
									<img src="https://cdn-icons-png.flaticon.com/512/564/564412.png"
										width="50vw" height="50vw">
									<i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
									<span class="h1 fw-bold mb-0">Music Library</span>
								</div>

								<h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account
								</h5>

								<div class="form-outline mb-4">
									<input type="text" id="form2Example17" placeholder="Enter Username"
										class="form-control form-control-lg" formControlName="username" required=""/>
									<label class="form-label" for="form2Example17">User Name</label>
								</div>

								<div class="form-outline mb-4">
									<input type="password" id="form2Example27" placeholder="Enter Password"
										class="form-control form-control-lg" formControlName="password" required=""/>
									<label class="form-label" for="form2Example27">Password</label>
								</div>

								<div class="pt-1 mb-4">
									<button class="btn btn-dark btn-lg btn-block" type="submit" (click)="login()">Login</button>
								</div>


								<p class="mb-5 pb-lg-2" style="color: #ffffff;">Don't have an account? <button (click)="movetosignup()" style="color: #ffffff; background-color: transparent; border: none; text-decoration: underline;">Register here</button></p>

							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
